.btn-google {
  background-color: #4285F4;
  width: 242px;
  height: 46px;
  font-family: sans-serif;
  color: #ffffff;
  cursor: pointer;
  border-radius: 1px;
  box-sizing: border-box;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.25);
  outline: none;
  overflow: hidden;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
}

.btn-google:hover {
  box-shadow: 0 0 3px 3px rgba(66,133,244,.3);
  transition: box-shadow 218ms;
}

.btn-google svg {
  float: left;
}

.btn-google span {
  font-size: 16px;
  line-height: 48px;
  letter-spacing: .21px;
  margin-left: 6px;
  margin-right: 6px;
  vertical-align: top;
}

.btn-google:active {
  background-color: #3367d6;
}

body {
  background: #333;
  padding-top: 50px;  /* For the fixed navbar */
}

.sidebar {
  background: #333;
  position: fixed;
  top: 51px;
  bottom: 0;
  left: 0;
  z-index: 1000;
  display: block;
  padding: 20px;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
  /*border-right: 1px solid #eee;*/
  color: #f5f5f5;
}

/* Sidebar navigation */
.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
}
.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
  color: #f5f5f5;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: #333;
  background-color: #428bca;
}

.nav-sidebar > .active > a:hover {
  color: #333;
}

/*
 * Main content
 */

.main {
  padding: 20px;
  background-color: #f5f5f5;
}
@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
  }
}
.main .page-header {
  margin-top: 0;
}

/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-fixed-top {
  border: 0;
}

.navbar-inverse {
  background-color: #111;
}

.logo {
  background-image: url('./img/logo.png');
  background-position: center;
  background-size: cover;
  width: 200px;
  height: 40px;
}

.Absolute-Center {
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 50%; right: 0;
  color: #fff;
}

.Absolute-Center.is-Responsive {
  width: 50%;
  height: 50%;
  min-width: 400px;
  max-width: 800px;
  padding: 40px;
}

#logo-container{
  margin: auto;
  margin-bottom: 10px;
  width:200px;
  height:200px;
  background-image:url('img/logo.png');
}

.btn-circle {
  border-radius: 50%;
}
